.dialog-parent {
    display: none;
    z-index: 10;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    /* display: none; */
    z-index: 12;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    min-height: 125px;
    padding: 15px;
}

.dialog img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.dialog header {
    font-weight: bold;
    font-size: large;
    line-height: 40px;
}

.dialog label {
    display: block;
    width: 535px !important;
    margin-left: 50px;
    /* background-color: aliceblue; */
    max-height: 300px;
    text-align: justify;
    padding: 5px 25px;
    overflow-y: auto;
}

.dialog button {
    float: right !important;
    margin: 15px 15px 0 0;
    width: 100px !important;
}
