#txtSearchOwner {
    display: inline;
    width: calc(100% - 110px);
}

#btnSearchMe {
    float: right;
    width: 100px;
}

#divSearchRow {
    display: flex;
    padding-left: 0;
}

#divSearchRow select {
    display: inline-flex;
    padding: 0 5px;
}

#divSearchRow input {
    display: inline-flex;
    width: 150px;
}

#divSearchRow span {
    margin: 8px 16px;
}

#divButtonsSearch button {
    width: 200px;
}