@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 12px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    font-size: 18px;
}

button {
    font-family: roboto;
    font-variant: all-small-caps;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}

input::placeholder, textarea::placeholder {
    color: darkgray;
}

#jobs {
    width:250px;
    border-width: 0 1px 0 0;
    border-style: solid;
    
    height: 100%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

#jobs a {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--primary-color-dark) !important;
    display: flex;
    text-align: left;
    padding: 0;
}

#jobs span {
    display: inline-flex;
    line-height: 100%;
    padding: 0 5px;
    position: relative;
    width: 25px;
    border-right: 1px solid var(--primary-color-dark);
}
#jobs img.workflow {
    top: unset;
    bottom: unset;
    transform: unset;
    width: 12px;
    height: 12px;
    left: 7px;
}
#jobs img.wf-top {
    bottom: 0px;
}
#jobs img.wf-bottom {
    top: 0px;
}
#jobs span img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jobs a:first-of-type label {
    font-size: 14px !important;
    letter-spacing: 1px;
    font-variant: all-small-caps;
    font-weight: 500;
}

#jobs label {
    padding-left: 5px;
    cursor: pointer;
    min-height: 30px;
    width: calc(100% - 25px);
    font-family: roboto;
    font-size: 1.1em !important;
}
#jobs label.archived {
    color: var(--primary-color-dark);
}
#jobs label i {
    font-style: normal;
    display: block;
}
#jobs label img {
    width: 12px;
    margin-right: 5px;
}

#new_job, #clear_search {
    line-height: 45px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#clear_search img {
    width: 20px !important;
    height: 20px !important;
    left: 2px;
}

#txtSearch {
    position: sticky;
    bottom: 0;
}

#detail {
    margin-left: 250px;
    border-width: 0px 0 0 0;
    border-style: solid;
    height: calc(100% - 3px);
    overflow: auto;
}

#detail header {
    border-width: 0 0 0px 0;
    border-style: solid;
    height: 45px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#detail header button {
    width: 135px;
    line-height: 2em;
    font-size: 14px;
}

#detail header button:first-child {
    border-left: 1px solid var(--primary-color-dark) !important;
}

#detail header button:hover {
    border-width: 0 !important;
}

#detail header button:focus {
    outline: 0px solid transparent !important;
}

#divDates label {
    position: relative;
    bottom: -2px;
}
#divDates img {
    width: 20px;
    margin-right: 5px;
}
#divDates span {
    display: block;
    font-weight: bold;
    margin-top: 25px;
    color: var(--accent-color);
}

#tabs {
    height: calc(100% - 45px);
}

#btnStorage, #btnSettings, #btnSearch {
    border-right-width: 0 !important;
    width: 60px !important;
}

#btnStorage img, #btnSettings img, #btnSearch img {
    width: 25px;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
}

#splash img {
    margin: 100px 250px;
}

.tab, #tabSettings, #tabStorage, #tabSearch {
    display: none;
    padding: 16px;
    height: 100%;
}

.tab.visible, #tabSettings.visible, #tabStorage.visible, #tabSearch.visible {
    display: block !important;
    animation: opac 0.8s;
}

.tab .w3-bar button {
    margin-top: 15px;
    width: 175px;
}

#btnSettingsLicense {
    border-width: 1px;
    border-style: solid;
}

#copyStdout + label, #copyStderr + label {
    margin-left: 5px;
    display: none;
}
#copyStdout.copied + label, #copyStderr.copied + label {
    display: inline;
}

#tabLogs li {
    display: block;
    position: relative;
    line-height: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--primary-color-dark);
}

#tabLogs li span {
    position: absolute;
    right: 0;
}

#tabLogs li span.done, #tabLogs li span.fail {
    color: white;
    border-radius: 50%;
    padding: 1px 7px;
}

#tabLogs li span.done {
    background-color: var(--accent-color);
}

#tabLogs li span.fail {
    background-color: var(--opposite-color);
}

#tabLogs #logMainContainer {
    height: 100% !important;
}

#tabLogs #txtMergedLog {
    overflow: auto;
    height: 80%;
}

#tabLogs #txtMergedLog span {
    display: block;
    white-space: pre;
}

#tabLogs #txtMergedLog span.stderr {
    color: var(--accent-color);
}

#tabLogs #txtMergedLog span.stdalt {
    /* color: var(--primary-color-dark); */
    color: var(--opposite-color);
}

#tabLogs #chartContainer {
    position: relative;
    width: 100%;
    height: 20% !important;
}

#tabLogs #pltJobUsage {
    height: 100% !important;
    width: 100% !important;
}

#tabOutput {
    position: relative;
}

#tabOutput #outputSummary:first-letter {
    text-transform: capitalize;
}

#treeview {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    overflow: auto;
    height: 500px;
}
#treeview > div { line-height: 1.5em; }
#treeview i, #treeview input, #treeview label {
    cursor: pointer;
}
#treeview i {
    font-size: large;
    font-style: normal;
    font-weight: bold;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 15px;
    text-align: center;
}
#treeview input {
    margin: 0 3px;
    height: 15px;
    width: 15px;
    position: relative;
    top: 1px;
}
#treeview span {
    font-style: italic;
    padding-left: 5px;
}

#tooltiptext {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    min-width: 150px;
    z-index: 2;
}

#tabStorage {
    position: relative;
}

#tabStorage #diskUsage {
    background-color: var(--primary-color-light);
    margin: 16px 0;
    width: 100%;
    height: 24px;
    border-radius: 16px;
    position: relative;
}

#tabStorage #diskUsage p, #tabStorage #diskUsage div {
    height: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

#tabStorage #diskUsage p {
    text-align: center;
    width: 100%;
    margin: auto;
    z-index: 2;
    top: 4px;
}

#tabStorage #diskUsage div {
    background-color: var(--opposite-color-light);
}

#tabStorage h3 {
    display: inline;
}

#tabStorage #btnStorageRefresh {
    float: right;
    width: 175px;
    position: absolute;
    top: 5px;
    right: 0;
    margin: 16px;
    height: 60px;
    letter-spacing: 4px;
}

#tabStorage #txtStorageSearch {
    margin: 10px 0;
}

#tabStorage tr td:first-of-type {
    width: calc(100% - 175px);
}

#tabStorage tr td:last-of-type {
    width: 175px;
}

#tabStorage tr td:first-of-type label {
    overflow-wrap: anywhere;
}

#tabStorage tr td:last-of-type label {
    display: none;
}

#tabStorage .rsync {
    font-style: italic;
}

#tabStorage th {
    cursor: pointer;
}

#tabStorage th i {
    float: right;
}

#downloadProgress {
    height: 1em;
}

#downloadProgressBar {
    height: 1em;
    background-color: var(--accent-color) !important;
    text-wrap: nowrap;
}

.selector {
    position: relative;
}

.selector div.w3-input {
    position: relative;
    cursor: default;
    user-select: none;
    height: 40px;
}

.selector div.w3-input label {
    background-color: #eee;
    border-radius: 5px;
    border-color: transparent;
    margin: 0 3px 3px 0;
    padding: 5px;
    position: relative;
    top: 3px;
}

.selector-items {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
    padding: 5px 50px 5px 10px;
    background-color: white;
    z-index: 10;
}

.selector-items label {
    display: block;
}

.selector-items label:hover {
    background-color: #aaa;
    cursor: pointer;
}

.selector-items input {
    margin: 5px 10px 5px 5px;
}

.selector-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.05;
    z-index: 9;
    cursor: not-allowed;
}

@keyframes mist {
    0% { background-position: 0 0; }
    100% { background-position: 100vw 0; }
}

#reloadbar {
    height: 3px;
    background-color: var(--primary-color-dark);
    visibility: hidden;
    margin-left: 250px;
    overflow: auto;
    width: calc(100% - 234px);
}

#reloadbar span {
    display: block;
    height: inherit;
    background-color: var(--accent-color-light);
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes grow {
    0% { width: 0; }
    100% { width: 100%; }
}
